Well hello there!     

Our friend {{ app.user.getFirstName }} ({{ app.user.getUsername }}</a>) has invited you to join Vinyett, a growing community for taking, sharing, and discovering photos across the world.

Just  head to {{ path("fos_user_registration_register") }}?invitation={{ code }}&email={{ email }}, use the invite code "{{ code }}", and we'll get you started.

We can't wait to see you,
The Vinyett Team