{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="outro_form">
    
    <h1>Sign up for Vinyett</h1>
    <div class="subtext">
        Find yourself an invite? Just fill out the form below and we'll have you on your way! If you still don't have an invite, <a href="{{ path('homepage') }}">you can request one</a>.
    </div>
    
    <div class="form">
        {% form_theme form with 'UserBundle:Registration:registration_fields.html.twig' %}
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
            <div id="fos_user_registration_form">
                 {% form_theme form with 'UserBundle:Registration:registration_fields.html.twig' %}
                {{ form_errors(form) }}
                {{ form_row(form.invitation, {'attr': {'value': invitation } }) }}
                {{ form_row(form.username) }}
                {{ form_row(form.email, {'attr': {'value': email} }) }}
                {{ form_rest(form) }}
            </div>
            <div style="text-align:center;">
                <button type="submit" class="register_button button">Register</button>
            </div>
        </form>
    </div>
    
</div>

{% endblock fos_user_content %}

{% block navigation_links %}
    <a href="{{ path('fos_user_security_login') }}">Sign into an account this way!</a>
{% endblock %}